body {
  background-color: #f2f2f2;
  /* Add other styles as needed */
}

.custom-dialog-paper {
  border-radius: 20px !important; /* Set your desired border radius */
  background-color: #EDECEC !important;
}