body {
  background-color: #f2f2f2;
  /* Add other styles as needed */
}

.custom-dialog-paper {
  border-radius: 20px !important; /* Set your desired border radius */
  background-color: #EDECEC !important;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.icon-container {
  transition: transform 0.3s ease; /* Adjust the duration and easing function as needed */
}

.icon {
  color: #1c2c5a;
  font-size: 30px;
}

.icon-container:hover .icon {
  transform: rotate(180deg); /* Adjust the rotation as needed */
}
